@using PagedList.Mvc;
@using PagedList;

@model IPagedList<_4H_VFMS.Models.tblVehicleList>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicles (@ViewBag.driverCount)</h2>

<div id="PlaceHolderHere"></div>

<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addtblVehicleList"
        data-url="@Url.Action("Create")">
    Create
</button>

<p style="padding-top:5px"></p>

@using (Html.BeginForm("Index", "tblVehicleLists", FormMethod.Get))
{
    <p>
        <table>
            <tr>
                <td style="padding-right:5px">Find by name:</td>
                <td style="padding-right:5px">@Html.TextBox("SearchString", ViewBag.CurrentFilter as string)</td>
                <td>
                    <button type="submit" value="Search" class="btn btn-success btn btn-sm">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        Search
                    </button>
                </td>
            </tr>
        </table>
    </p>
}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().vType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vTransType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vLicPlate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().vStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vType1.vType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vYear1.vYear1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vColour1.vColour1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vTransType1.vTransType1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vLicPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vStatu.vStatus)
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addtblVehicleList"
                        data-url="@Url.Action($"Edit/{item.Id}")">
                    Edit
                </button> |
                <button type="button" class="btn btn-info" data-toggle="ajax-modal" data-target="#addtblVehicleList"
                        data-url="@Url.Action($"Details/{item.Id}")">
                    Details
                </button> |
                <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#addtblVehicleList"
                        data-url="@Url.Action($"Delete/{item.Id}")">
                    Delete
                </button>
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))